.home-header {
	margin-top: 10px;
	margin-bottom: 50px;
}

.home-label {
	margin-top: 10px;
	text-align: left;
}

.home-jumbo {
	text-align: center;
	min-height: 300px;
	margin: auto;
}

.home-thumbnail {
	min-height: 130px;
	margin: 10px;
}

.home-caption {
	margin: 10px;
}

.home-itemname {
	margin: 10px;
}

.home-results {
	margin-top: 20px;
}

.home-btn-repo {
	margin-top: 10px;
}